:root {
  --foreground-light: #fff; /**For #fff**/
  --bg-dark-secondary:#1D162C; /**For #1D162C**/
  --foreground-dark:#24104F; /**For #24104F**/
  --light-secondary:#21DAD7; /**For #21DAD7**/
  --foreground-dark-tertiary:#000; /**For #000**/
  --light-primary:#F3EEFF; /**For #F3EEFF**/
  --mt-large:178px; /**For Header Top 178px**/  
  --weight-300:300; /**For 300**/ 
  --weight-400:400; /**For 400**/
  --weight-600:600; /**For 600**/
  --weight-700:700; /**For 700**/
  --font-24:24px; /**For 24px**/
  --line-height-24:24px; /**For 24px**/
  --font-inter:'Inter', sans-serif; /**For Inter**/
  --font-sarif:'Roboto Serif', serif; /**For Roboto Serif**/
}

*{margin:0; padding:0; outline: none;}
body{font-family: var(--font-inter);}
html {scroll-behavior: smooth;}
img{width:100%; display: block;}
a{color:var(--foreground-dark); transition: 0.8s;}
ul{list-style:none; padding:0;}
.d-block{display:block; width:100%;}
.d-flex{display:flex;}
.text-underline{text-decoration:underline;}
h1, h2, h3, h4, h5, h6{font-family: var(--font-sarif); color: var(--foreground-dark-tertiary); font-weight: var(--weight-600); color:var( --foreground-dark);}
p{font-weight: var(--weight-400); font-size: var(--font-24); line-height: 42px; color:var(--foreground-dark-tertiary);}
h1{font-size: 60px; line-height: 100px; margin-bottom: 48px; font-weight: var(--weight-300) !important; margin: 0;}
h2{font-size: 48px; line-height: 56px; font-weight:200; margin: 0;} 
h3{font-size: 32px; line-height: 40px; font-weight:var(--weight-300); margin: 0;}
h4{font-weight: var(--weight-600);font-size: 32px; line-height: 39px; font-family:var( --font-inter); margin: 0; color:var(--foreground-dark-tertiary);}
h5{font-weight: var(--weight-600); font-size: var(--font-24); line-height: 29px; font-family:var( --font-inter); margin: 0 0 12px; color:var(--foreground-dark-tertiary);}
.p-0{padding:0 !important;}
.color-light, .color-light h3{color:var(--foreground-light);}
.navbar-toggler{display:none;}
.container{width:100%; max-width:1280px; padding:0 10px;}
.bg-light{background-color: var(--light-primary) !important;}
header{position: fixed; top: 0; width: 100%; margin: 0; left:0; padding: 80px 0 40px; z-index: 99; background-color:var(--light-primary);}
section.pb-section{padding-bottom: 65px !important;}
section.p-detail{padding: 74px 0 197px !important;}
section.p-home{padding-bottom: 237px !important; padding-top: 18px !important;}
.mt-minus{margin:-141px 0 136px;}
header ul a:hover{border-color:var(--foreground-dark); color:var(--foreground-dark); opacity:1 !important;}
header .active a{color: var(--foreground-dark); border-bottom: 2px solid var(--foreground-dark	);}
header ul a{font-weight: var(--weight-600); font-size: 16px; line-height: var(--line-height-24); color: var(--foreground-dark);  padding-bottom: 16px; border-bottom: 2px solid transparent;}
.link-active a{background-color:var(--light-secondary); padding: 12px 18px; color:var(--foreground-light); border:0;}
header div{max-width: 1280px; margin: 0 auto; width: 100%; padding: 0 calc(var(--grid-gutter)/2);}
header{transition: 0.8s;}
.sticky-nav{padding: 20px 0;}
header ul{column-gap: 40px;} 
.mt-large{padding-top:var(--mt-large);}
.mt-detail{margin:128px 0 0;}
.flex-column{flex-wrap: wrap; margin: 56px 0 136px;}
.w-50{max-width:50%; width: 100%; padding: 64px 62px;}
.w-50 h3{font-weight:var(--weight-600);}
.w-50:first-child{background-color:#E9DFFF;}
.w-50:nth-child(2){background-color:#ede5ff;}
.w-50:nth-child(3){background-color:#f2ecff;}
.w-50:nth-child(4){background-color:#f6f2ff;}
.w-100{max-width:100%; width: 100%; margin-bottom: 22px;}
.flex-column img{width:48px;}
.justify-content-between{justify-content: space-between;}
.w-33{width: 33.3%; padding-right: 41px; padding-top: 6px; padding-bottom: 42px;}
.w-33 p{font-weight: var(--weight-400); font-size: 20px; line-height: 36px; margin: 33px 0 0;}
.w-33:nth-child(2){border-right:1px solid; border-left:1px solid; border-color:var(--foreground-dark); padding-left: 64px; width: 480px;}
.w-33:last-child{padding-right: 0; padding-left: 41px;}
.w-33 h3{font-weight: var(--weight-300); font-size: 36px; line-height: 42px;}
.w-33 span{width: 72px; height: 72px; background-color:var(--foreground-dark); border-radius: 100px; color:var(--foreground-light); font-weight: var(--weight-300); font-size: 40px; line-height: 47px; font-family:var(--font-sarif); justify-content: center; flex: 0 0 72px;}
.w-33 .d-flex{column-gap: 16px; align-items: center;}
.steps{margin:56px 0 135px;}
.faq h3{margin:64px 0 42px;}
.item{background-image:url(../images/media/clip-bg.jpg); background-repeat:no-repeat; background-position:center center; background-size:cover; text-align:left; padding:32px 36px; min-height:655px;}
.item img{width:96px; height:96px;}
.item h3{font-size:48px; line-height:58.09px; font-family: 'Inter'; font-weight: var(--weight-700); color:#cec7ff; margin:0 0 133px; min-height:116px;}
.tag{font-weight: var(--weight-700); font-size: 20px; line-height: var(--line-height-24); border: 0; text-transform:inherit; padding:0; display:block; color:#cec7ff !important; margin: 0 0 88px;}
.epi-number{font-weight: var(--weight-700); font-size: var(--font-24); line-height: 29px;}
.play-icon{display:inline-block !important; width:80px !important;}
.sm-img {width:29.33px !important}
.author{font-weight: var(--weight-700); font-size: 20px; line-height: var(--line-height-24);}
.owl-theme .owl-nav.disabled+.owl-dots {margin-top: 60px !important;}
.owl-theme .owl-dots .owl-dot span {width: 24px !important; height: 24px !important;}
.owl-theme .owl-dots .owl-dot.active span{background-color:var(--foreground-dark) !important;}
.owl-theme .owl-dots .owl-dot span{background-color:var(--light-primary) !important; margin:5px 8px !important;}
.accordion-container .accordion-title::before {content: ""; position: absolute; top: 30%; right: 32px; width: 21px; height: 2px; transform: rotate(135deg); background-color: var(--foreground-dark-tertiary);}
.accordion-container .accordion-title::after {content: ""; position: absolute; top: 30%; right: 47px; width: 21px; height: 2px; background-color: var(--foreground-dark-tertiary); transform: rotate(220deg);}
.accordion-container .accordion-title.open::after {transform: rotate(138deg); top: 40%;}
.accordion-container .accordion-title.open::before {transform: rotate(224deg); top: 40%;}
.accordion-container .accordion-title {position: relative; margin: 0; color: var(--font-dark); cursor: pointer; background-color: var(--color-light);}
.accordion-child h3{margin:0 0 33px; color:var(--foreground-dark);}
.accordion-container{margin: 83px 0 127px; clear: both; overflow: hidden;}
.accordion-content h3{font-weight:200;}
.accordion-child{border-bottom: 1px solid; border-color:var(--foreground-dark); margin-bottom: 35px;}
.about{margin-bottom:310px;}
.about-img{margin:120px auto;}
.font-bold h3{margin:0 0 32px; font-weight:var(--weight-600);}
.font-bold p{margin:0 0 32px; font-size: 31.5px; color:var(--foreground-dark);}
.articles, .pricing-head{margin:144px auto 0;}
.articles a{font-weight: var(--weight-300); font-size: 32px; line-height: 37px; font-family:var(--font-sarif); display: block; border-bottom: 1px solid; border-color:var(--foreground-dark); padding: 33px 0;}
.pagination {display: flex; text-align: center; justify-content: space-between; margin: 186px auto; width: 100%; align-items: center;}
.pagination a:first-child, .pagination a:last-child{padding: 12px 0;}
.pagination a:first-child:hover, .pagination a:last-child:hover{border-bottom:0;}
.pagination div a {padding: 12px 18px !important; text-decoration: none; font-weight: var(--weight-600); font-size: 32px; line-height: 39px; color: var(--foreground-dark);}
.pagination a.active, .pagination div a:hover{border-bottom: 2px solid !important; border-color:var(--foreground-dark) !important;}
.blog-mb h2{margin:25px auto 103px;}
.blog-mb{margin-bottom: 287px;}
.pricing-head strong{font-weight: var(--weight-600); font-size: 20px; line-height: var(--line-height-24); color:var(--foreground-dark); margin: 12px 0 0; display: block;}
.price-section{margin:118px auto 250px;}
.price-section .d-flex div{padding:0;}
.price-section .w-33:nth-child(2) div{padding-left:58px !important; padding-right:58px !important;}
.p-right{padding: 0 75px 0 0 !important;}
.p-left{padding: 0 0 0 80px !important;}
.price-section .text-center p{font-weight: var(--weight-300); font-size: 20px; line-height: 23px; font-family:var(--font-sarif); color:var(--foreground-dark); margin: 77px 0 0;}
.price-section p{font-weight: var(--weight-400); font-size: var(--font-24); line-height: 36px; margin: 12px 0 36px;}
.w-33 .monthly-price{border-top:1px solid !important; padding-top: 37px !important; margin: 41px 0 0; cursor:pointer;}
.monthly-price li{font-weight: 400; font-size: var(--font-24); line-height: 36px; color:var(--foreground-dark-tertiary);}
.p-left a{background-color:transparent; border-color:var(--light-secondary) !important; color:var(--light-secondary) !important;}
.p-left:hover a{background-color:var(--light-secondary) !important; border-color:var(--light-secondary) !important; color:var(--foreground-light) !important;}
.monthly-price a{margin: 48px 0 67px; display:inline-block; font-weight: 600; font-size: 16px; line-height: var(--line-height-24); border:2px solid transparent; padding: 12px 16px; transition: 0.8s;}
.monthly-price:hover a{color: var(--light-secondary); background-color:rgba(255,255,255,0.7); border:2px solid;}
.monthly-price:hover h4{color:#818181; transition: 0.8s;}
.mt-space{margin-top:120px;}
.mb-space{margin-bottom:310px;}
footer .logo{width:38px;} 
footer{margin:0; padding:103px 0 104px; background-color:var(--bg-dark-secondary);}
footer ul li a{color:var(--foreground-light); font-weight: 500;}
footer ul li a:hover{color: var(--foreground-light); opacity: .8 !important;}
footer .container{position: relative; display: flex; flex-direction: column; row-gap: 48px;}
footer ul{column-gap: 40px;}
.copyright{color:var(--foreground-light); font-weight:var(--weight-400); font-size: 14px; line-height: var(--line-height-24);}
.copyright a{background-color: #CEC7FF; width: 32px; border-radius: 100%; height: 32px; justify-content: center; padding: 0 0 0 1px;}
.copyright a img{width: 18.5px;}
.copyright .d-flex{column-gap:25px;}

@media only screen and (max-width:1200px) {
h1, h2{font-size: 42px; line-height: 60px;}
p, .w-33 p, .monthly-price li{font-size: 20px; line-height: 30px;}
.flex-column img {width: 30px;}
.item h3{font-size: 32px; line-height: 42px; margin: 0 0 16px;}
.tag{margin:0 0 43px;}
.item{min-height:auto; padding:22px 36px 0;}
.owl-theme .owl-dots .owl-dot span {width: 15px !important; height: 15px !important;}
.owl-theme .owl-nav.disabled+.owl-dots {margin-top: 32px !important;}
.mt-minus {margin: -141px 0 70px;}
.play-icon{width:65px !important}
.blog-mb h2 {margin: 15px auto;}
.blog-mb{padding-top:80px; margin-bottom: 137px;}
section.pb-section {padding-bottom: 44px !important;}
.price-section .text-center p{margin: 59px 0 0;}
.mt-space, .articles, .pricing-head {margin-top: 62px;}
.mb-space{margin-bottom: 141px;}
.font-bold p, .price-section p{font-size: 21px; line-height:31px;}
h3, .w-33 h3, h4{font-size: 28px;}
.w-33 span{flex: 0 0 42px; height:42px; font-size: 32px;}
.w-33 p{margin: 17px 0 0;}
.w-33{padding-bottom: 30px; padding-right: 2%;}
.w-33:nth-child(2){width:33.3%}
.price-section .w-33:nth-child(2) div{padding-left: 4% !important; padding-right: 2.3% !important;}
.p-right {padding: 0 6.5% 0 0 !important;}
.p-left{padding: 0 0 0 11.9% !important;}
.monthly-price p{margin:17px 0 20px;}
.font-bold h3 {margin: 0 0 15px;}
.articles a, .faq h3{font-size: 21px !important; line-height: 31px !important; padding: 23px 0;}
.accordion-child h3 {margin: 0; padding-top: 0; max-width: 82%;}
.pagination div a{font-size: 21px; padding: 9px 13px !important;}
.pagination img{width: 27px;}
.pagination{margin: 100px auto;}
section.p-detail{padding: 0 0 44px !important;}
.epi-number, .author{font-size:19px;}
section.p-home {padding-bottom: 192px !important;}
.w-33:nth-child(2), .w-33:last-child{padding-left:2%; width: 33.3%;}
.steps{margin: 56px 0 80px;}
.accordion-container .accordion-title::after, .accordion-container .accordion-title::before {width: 13px; top:29% !important;}
.accordion-container .accordion-title::after{right: 41px;}
.accordion-child{margin-bottom: 22px;}
.faq h3{margin: 0;}
.accordion-container {margin: 34px 0 127px;}
.price-section {margin: 71px auto 110px;}
}

@media only screen and (max-width:992px) {
.price-section .w-33{width: 33% !important;}
.price-section .d-flex{flex-wrap: wrap;}
.price-section .w-33:nth-child(2) div{padding-right: 3.1% !important;}
.price-section p{font-size: 15.9px; line-height: 25px;}
.p-right {padding: 0 2.6% 0 0 !important;}
.p-left{padding: 0 5.7% !important;}
.monthly-price li {font-size: 16px; line-height: 30px;}
.price-section h4{font-size: 26px; line-height: 35px;}
.price-section .monthly-price{margin: 31px 0 0 !important; padding-top: 31px !important;}
}

@media only screen and (max-width:768px) {
h1, h2{font-size: 32px; line-height: 47px;}
.w-50, .w-33{max-width: 100%; width: 100% !important;}
.steps .d-flex{flex-direction: column;}
.steps .d-flex .w-33 .d-flex{flex-direction: row;}
.font-bold p {margin: 0 0 16px;}
header{box-shadow: 0 0 6px -1px #ccc; padding: 25px 0;}
#menu{display:none;}
.navbar-toggler-icon {width: 18px; background-color: var(--bg-dark-secondary); height: 2px; display: block; display: block; margin: 6px 0 5px;}
.navbar-toggler {display: block; padding: 11px 12px; background-color: rgba(255,255,255,.5); border-radius: 0;}
.nav-toggle{background-color: var(--light-primary) !important;}
header div{align-items: center;}
.menu-toggle {display: flex !important; background-color:var(--foreground-light); left: 0; top: 0; height: 100vh; flex-direction: column; width: 100%; position: fixed; padding: 113px 11px 0; row-gap: 16px; z-index: 99;}
.nav-toggle {position: relative; z-index: 9999;}
.nav-toggle .navbar-toggler-icon:first-child {transform: rotate(45deg); top: 3px;}
.nav-toggle .navbar-toggler-icon:last-child {transform: rotate(313deg); top: -5px;}
.nav-toggle .navbar-toggler-icon {width: 20px; position: relative;}
.logo-toggle {position: relative; z-index: 9999;}
header ul a{font-size: 40px; line-height: 59px; font-family:var(--font-sarif); font-weight:var(--weight-300);}
header .active a{border-bottom: 0; padding: 0 0 0 10px; color:var( --foreground-dark); border-left:2px solid;}	
.mb-space{margin-bottom: 152px;}
.mt-minus {margin: -141px 0 40px;}
.flex-column{margin: 30px 0 60px;}
.w-50{padding: 44px 37px;}
.w-33 span{font-size: 25px;}
.steps .w-33:nth-child(2){border-left:0; border-right:0; border-top:1px solid; border-bottom:1px solid; padding-top: 30px; margin-bottom: 30px;}
.steps{margin: 34px 0;}
.price-section .w-33{width: 100% !important; padding: 30px !important;}
.price-section .w-33:nth-child(2){border-left:0; border-top:1px solid;}
.price-section .w-33:nth-child(2) div{padding-left: 0 !important; padding-right: 0 !important;}
.price-section .w-33:nth-child(3){border-right:0;}
.monthly-price h4 br{display:none;}
.price-section .w-33:first-child{background-color: #E9DFFF;}
.price-section .w-33:nth-child(2){background-color: #ede5ff; border: 0;}
.price-section .w-33:nth-child(3){background-color: #f2ecff;}
.monthly-price li{font-size: 18px; line-height: 33px;}
.price-section .monthly-price, .p-left, .price-section .w-33:nth-child(2){border-top:0 !important;}
.monthly-price{margin:0 !important;}
.monthly-price a{margin:28px 0 0 !important;}
.p-left{padding:0 !important;}
.border-link a{background-color:rgba(255,255,255,0.5) !important;}
.price-section .monthly-price{margin:0 !important;}
.price-section p{margin: 6px 0 20px;}
.price-section .monthly-price{padding-top: 4px !important;}
}

@media only screen and (max-width:640px) {
.mt-large {padding-top: 142px;}
.w-50 {padding: 31px 22px;}
.blog-mb {margin-bottom: 100px;}
.blog-mb h2 {margin: 25px auto;}
.blog-mb{padding-top:62px; margin-bottom: 137px;}
.font-bold p, .articles a, p, .w-33 p, .monthly-price li{font-size: 18px !important; line-height: 29px !important;}
.mt-space {margin-top: 44px;}
.mb-space{margin-bottom: 100px;}
.w-33 .monthly-price{padding-top: 18px !important;}
.monthly-price p {margin: 5px 0 21px;}
footer {margin: 0; padding: 32px 0 40px;}
footer ul {flex-wrap: wrap; column-gap: 12%; row-gap: 24px;}
footer ul li{width: 35%;}
footer .container{row-gap: 41px;}
footer .copyright{flex-direction: column; row-gap: 22px;}
.copyright li{width:auto;}
.accordion-container .accordion-title::after, .accordion-container .accordion-title::before{width: 9px;}
.accordion-container .accordion-title::after{right: 18px;}
.accordion-container .accordion-title::before{right: 12px;}
.accordion-child {margin-bottom: 15px;}
.faq h3{padding-bottom: 15px;}
.accordion-container {margin: 15px 0 74px}
h3, .w-33 h3, h4 {font-size: 24px !important; line-height: 32px !important;}
h1, h2 {font-size: 27px; line-height: 40px; font-weight:var(--weight-400);}
}